<section class="hero-section py-5">
  <div class="container">
    <div class="row align-items-center">
         <div class="col-lg-7 text-center">
        <img src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48e5a3c57559300cd83d22_image-15-p-1600.jpeg"
             alt="Hero Image"
             class="img-fluid" />
      </div>
      <div class="col-lg-5 text-center text-lg-start mb-5 mb-lg-0">
        <a href="/category/illustration" class="category-link">Illustration</a>
        <a href="/posts/japan-house-opens" class="top-post-link-block w-inline-block">
            <h2 class="h2">Japan House opens in mountainside to foster peak creativity. </h2></a>
        <p class="text-muted mb-4">
          Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
        </p>
        <div class="autor">
        <div class="post-author cc-top-margin">By</div>
        <a href="/team-members/reta-torphy" class="post-author"> Reta Torphy</a>
        </div>
      </div>
    </div>
  </div>
</section>




   <div class="container my-5">
  <div class="row">
    @for (item of items; track $index) {
         
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 border-0">
        <a href="#">
          <img [src]="item.img" class="card-img-top" alt="">
        </a>
        <div class="card-body px-0">
          <a href="#" class="text-muted small d-block mb-1">{{item.link}}</a>
          <h5 class="card-title">
            <a href="#" class="text-dark text-decoration-none">
{{item.desc}}
            </a>
          </h5>
          <p class="mb-0 text-muted small">By <a href="#"> {{item.authorlink}}</a></p>
        </div>
      </div>
    </div>
    }
   

  </div>

