<div class=" cc-detail"   >
    <div class="container titlle-section">
        <div class="row ">
            <h2 class="h2 cc-title-section">Latest Post</h2>
          
  @for (item of items; track $index) {
          <!-- Post 1 -->
    <div class="col-md-6  mb-4"  
    [ngClass]="{ 
'col-lg-4':currentUrl==='/latest',
'col-lg-3':currentUrl!=='/latest'
}"
    >
      <div class="card h-100 border-0">
        <a href="#">
          <img [src]="item.img" class="card-img-top" alt="">
        </a>
        <div class="card-body px-0">
          <a href="#" class="text-muted small d-block mb-1">{{item.link}}</a>
          <h5 class="card-title">
            <a href="#" class="text-dark text-decoration-none">
{{item.desc}}
            </a>
          </h5>
             <a href="#"> {{item.authorlink}}</a>
        </div>
        
      </div>
    </div>
      
 
    }


        </div>

            @if (currentUrl!=='/latest') {
      <a href="/latest-posts" class="button w-button">view all latest posts</a>
    }
  
      </div>
</div>
    <div class="separator">
      <div class="separator-container">
        <div class="line-color">

        </div>
      </div>
    </div>
    
  