
<div class="about">
    <div class="container cc-center">
        <div class="text-container">
            <div class="section-title-text">about</div>
            <h1 class="h1">Clita incorrupte at vix. Nam te molestie iudicabit erroribus odio.  </h1>
        </div>
    </div>
</div>
<div class="card-img-top"></div>

<div class="blog">
    <div class="container cc-center">
        <div class="text-container">
            <div class="section-title">this is noiceland.</div>
            <p class="paragraph">Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation eligendi. Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto incorrupte. Ut vim liber recteque eloquentiam, qui te exerci forensibus. Eu pri ullum meliore tincidunt, an ius aeque paulo saperet, eum modus tation an.</p>
            <p class="paragraph">Vix mandamus deseruisse voluptatibus in. Ei pri epicurei indoctum. Aeterno oportere at his. Nam prompta recteque dissentias id. Aperiam atomorum iudicabit sed id, malis dicit pericula at vis.</p>
            <p class="paragraph">At sea scripta nostrud facilisis, his at nihil ubique sententiae, aeque menandri urbanitas eu quo. Fastidii qualisque cum id. Tollit convenire adversarium duo te. Te vim dictas virtute iudicabit, tibique omittam cum ut, clita decore lucilius nec ei. Sit facer docendi ex, laoreet deserunt pro eu, eum putent virtute vivendum te. Purto interpretaris signiferumque te eam, at mel saperet voluptua.</p>
            <a href="#contact" class="link-block w-inline-block">
                <div>Contact us</div>
            </a>
        </div>
    </div>
</div>

    <div class="team">
        <div class="container">
            <div class="section-title">our Team</div>
            <div class="posts">
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f8699918ea591dae296c_1.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Simeon Peterson</b></div>
                    <div class="team-member-role">Cofounder, Editor in Chief</div>
                </div>
            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src=" https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f8b933b04e4011477043_2.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Simeon Brekke</b></div>
                    <div class="team-member-role">Cofounder, Partner</div>
                </div>
            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src=" https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f8ddb9f3728c2f220b6c_3.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"> <b>Annie Lueilwitz</b></div>
                    <div class="team-member-role">Managing Editor</div>
                </div>
            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f8fe71d09921a13565d4_4.jpg "></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Reta Torphy</b></div>
                    <div class="team-member-role">Managing Editor</div>
                </div>
            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src=" https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f91671d09980fc3565dd_5.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"> <b>Leo Bartell</b></div>
                    <div class="team-member-role">Editor</div>
                </div>
            </div>
            
            
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f93e68e07c3cb35bccb6_6.jpg "></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Clem Onojeghuo</b></div>
                    <div class="team-member-role">Senior Writer</div>
                </div>

            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f970bd7420202eef60e6_7.jpg "></div>
                    <div class="team-member-info">
                        <div class="team-member-name"> <b>Michal Legros</b></div>
                    <div class="team-member-role"> Senior Writer</div>
                </div>

            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src="https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f995d955431b3f1a9f72_8.jpg "></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Rosanna Ondricka</b></div>
                   <div class="team-member-role">Writer </div>
                </div>

            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src=" https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f9ad71d099024235661b_9.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"><b>Alessandra Ortiz</b></div>
                    <div class="team-member-role">Writer  </div>
                </div>

            </div>
            <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                <div class="team-image">
                    <img alt="" src=" https://cdn.prod.website-files.com/5b47286ba09814724c5a5ff4/5b48f9c568e07c30c85bcd01_10.jpg"></div>
                    <div class="team-member-info">
                        <div class="team-member-name"> <b>Coby Gottlieb</b></div>
                    <div class="team-member-role">  Writer </div>
                </div>

            </div>


            </div>
      
</div>
</div>

<div class="separator">
    <div class="separator-container">
        <div class="line-color">
        </div>
    </div>
</div>

<div class="contact py-5">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <div class="section-title-text h4 text-uppercase mb-3">
          Wanna get in touch?
        </div>
        <p class="paragraph cc-text">
          Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation eligendi.
          Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto incorrupte.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-3 mb-4">
        <div class="contact-item ">
          <div class="contact-number">
            <div class="number">1</div>
          </div>
          <div class="info-subtitle">Address</div>
          <div class="info-text">
            144 N 7th St. #536<br>
            Brooklyn, NY 11249<br>
            United States
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="contact-item ">
          <div class="contact-number">
            <div class="number">2</div>
          </div>
          <div class="info-subtitle">General Inquiries</div>
          <div class="info-text">hello@noiceland.co</div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="contact-item ">
          <div class="contact-number">
            <div class="number">3</div>
          </div>
          <div class="info-subtitle">Press Inquiries</div>
          <div class="info-text">press@noiceland.co</div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="contact-item ">
          <div class="contact-number">
            <div class="number">4</div>
          </div>
          <div class="info-subtitle">Potential Contributors</div>
          <div class="info-text">collab@noiceland.co</div>
        </div>
      </div>
    </div>
  </div>
</div>
