
<footer class="bg-black text-white pt-5 pb-4">
  <div class="container">

    <!-- Logo -->

    <div class="container">
        <div class="top-section">
            <a href="#" class="logo cc-footer w-inline-block">
                <img src="https://cdn.prod.website-files.com/5b471332a0fccf5aded82f96/5b4759f1ee75f16151397de3_logo-white.svg" alt="" class="image-logo">
            </a>
        <div class="footer-small-text">© 2018 Noiceland™, all rights reserved</div>
    </div></div>
    <hr class="border-secondary">

    <!-- Categories & Subscribe side by side -->
    <div class="row mt-4">
      <!-- Categories: 2 rows x 4 columns -->
      <div class="col-12 col-lg-8 mb-4">
        <h6 class="text-muted text-uppercase mb-3">Categories</h6>
        <div class="row">
          <!-- Row 1 -->
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Animation</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Architecture</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Graphic Design</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Illustration</a></div>
          <!-- Row 2 -->
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Interactive Design</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Miscellaneous</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Photography</a></div>
          <div class="col-3 mb-2"><a href="#" class="text-white text-decoration-none d-block">Product Design</a></div>
        </div>
      </div>

      <!-- Subscribe beside categories -->
      <div class="col-12 col-lg-4 mb-4">
        <h6 class="text-muted text-uppercase mb-3">Subscribe to Newsletter</h6>
        <form class="d-flex">
          <input type="email" class="form-control rounded-0" placeholder="Email address">
          <button class="btn btn-dark rounded-0 border ms-1 px-4" type="submit">SEND</button>
        </form>
      </div>
    </div>

    <!-- Bottom Sections -->
    <div class="row mt-4">

      <!-- Information -->
      <div class="col-6 col-md-2 mb-4">
        <h6 class="text-muted text-uppercase mb-3">Information</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-white text-decoration-none">Terms</a></li>
        </ul>
      </div>

      <!-- Follow Us -->
      <div class="col-6 col-md-2 mb-4">
        <h6 class="text-muted text-uppercase mb-3">Follow Us</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Instagram</a></li>
          <li><a href="#" class="text-white text-decoration-none">Facebook</a></li>
          <li><a href="#" class="text-white text-decoration-none">Twitter</a></li>
        </ul>
      </div>

      <!-- Template -->
      <div class="col-6 col-md-2 mb-4">
        <h6 class="text-muted text-uppercase mb-3">Template</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Image License Info</a></li>
          <li><a href="#" class="text-white text-decoration-none">Powered by Webflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
