.container {
    width: 100%;
    max-width: 1200px;
    -webkit-box-pack: center;
        align-items: flex-start;
    align-content: center;
    max-height: 80vh;
}
.top-section {
  
    display: flex;    
    align-items: flex-end;
    -webkit-box-flex: 1;
}
.logo.cc-footer {
    margin-right: 15px;
    margin-bottom: 2px;
}
.footer-small-text {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

  footer a:hover {
    text-decoration: underline;
    color: #00ffff;
  }

  footer small {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }

  footer h6 {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  footer input::placeholder {
    color: #696767;
  }
